SITE_URL=https://sandboxed-tv.vercel.app
SUPPORT_EMAIL=
MEMBERSHIP_ENABLED=true
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
DEVICE_HASH_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID=
NOWPAYMENTS_API_KEY=
NOWPAYMENTS_IPN_SECRET=
